.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.sub-title {
  margin-right: 20px;
  text-align: start;
}

.job {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.job-details {
  flex: 1;
  margin-right: 20px;
}

.job-logo {
  width: 9rem;
  height: auto;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.job-link:hover .job-logo {
  filter: grayscale(0%);
}
